
@{
    Layout = null;
}

<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Daochu</title>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/My97DatePicker/config.js"></script>
    <script src="~/Scripts/My97DatePicker/calendar.js"></script>
    <link href="~/Scripts/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
</head>

<body>

    <h1 style="background-color:yellow;text-align:center"><span id="rname">员工订餐台账导出</span> </h1>
    <div style="padding-left:100px;">
        @*<label>类型</label>
        <select id="Select1" style="width:150px;height:30px">
            <option value="0">--全部--</option>
            <option value="7B050219-0919-452C-BB76-A762354A2BCA">国宝餐厅</option>
            <option value="52897487-4396-4213-BAC4-EFF396AFBE2E">河风雅叙餐厅</option>
            <option value="157EC53E-96F4-49ED-8ED1-54CC92FF5E63">洛阳府餐厅</option>
            <option value="85DDAC71-7049-4AD3-A7F8-9560850C0D71">青云赋餐厅</option>
            <option value="792E59E8-8A9C-4E19-9EBA-E8970DA20E7F">上海明基餐厅</option>
            <option value="623C926E-58A0-41D1-92EC-3327CE26E8DB">王城里餐厅</option>
            <option value="B11C8996-4403-40BB-BCF2-156963C98635">郑州员工食堂</option>

        </select>*@
        <div style="float:left;margin-right:5px">
            <label>餐厅名称 </label>
        </div>
        <div style="width: 400px; height: 300px; border: solid 1px; float: left;">
            <div>
                <div style="float:left;width:2000px">
                    <input id="sCheck1" style="width: 20px;margin-bottom:10px" type="checkbox" value="7B050219-0919-452C-BB76-A762354A2BCA" /> 国宝餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck2" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="52897487-4396-4213-BAC4-EFF396AFBE2E" />河风雅叙餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck3" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="157EC53E-96F4-49ED-8ED1-54CC92FF5E63" />洛阳府餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck4" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="85DDAC71-7049-4AD3-A7F8-9560850C0D71" />青云赋餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck5" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="792E59E8-8A9C-4E19-9EBA-E8970DA20E7F" />上海明基餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck6" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="623C926E-58A0-41D1-92EC-3327CE26E8DB" />王城里餐厅
                </div>

                <div style="float:left;width:200px">
                    <input id="sCheck7" style="width: 20px;margin-bottom:10px;" type="checkbox" value="A39A179D-A45D-47D9-87DA-30ABF55CA035" /> 郑州龙子湖餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck8" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="2535325A-CC8D-47B8-BFC1-7F0E1B924C30" />郑州广场项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck9" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="D16DB83C-1EDD-4AD1-855D-EB5CF2AC1DBD" />郑州澜湾项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck20" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="fa4fe35f-6c48-4397-add5-9a76be5bb93b" />合肥广州路餐厅
                </div>
            </div>
            <div>
                <div style="float:left;width:200px">
                    <input id="sCheck10" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="B638D5A1-D0A6-479C-A65C-619BEBB48524" />郑州华庭项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck11" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="661DD5AC-E694-4C95-8080-B9E80C7AEEEC" />郑州重工B项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck12" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="7CDC01A1-D9BB-4471-B439-CD12C67F9631" />郑州雁鸣叙项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck13" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="F2D457D7-30D0-4AB8-AFA1-5B897852933A" />郑州大学路项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck14" style="width: 20px;margin-bottom:10px" type="checkbox" value="111EF601-2622-4644-9D7B-640BF5D84509" /> 郑州杜庄项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck15" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="11D684DB-447F-4268-B4C8-29622DBE9031" />郑州九州路项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck16" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="1F8CC464-E4CA-4332-ACB2-DBB854994C28" />郑州荥阳项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck17" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="C3185502-8B33-4331-9076-2493ACA6B72B" />杭州三墩食堂
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck18" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="E621106E-2988-4FF3-8153-CB68EF000F0B" />杭州南湖食堂
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck19" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="DC96A30C-2773-47CD-8B68-8A0D001F7241" />郑州商业管理中心食堂
                </div>
                <div style="float:left;width:200px">
                    <input id="Check21" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="0596ba1e-6350-4fa7-9047-ebf8deb7e728" />合肥少荃府餐厅
                </div>
            </div>
        </div>


        <label style="margin-left:50px;">关键字</label>
        <input style="height:25px;width:150px;" class="text" type="text" id="user" name="UserName" placeholder="登录名/姓名" />

        <label style="margin-left:50px;">开始日期</label>
        <input style="height:25px;width:150px;" class="Wdate" type="text" id="d16" name="Startdate" onfocus="WdatePicker()" />
        <label style="margin-left:50px;">结束日期</label>
        <input style="height:25px;width:150px;" class="Wdate" type="text" id="d17" name="Enddate" onfocus="WdatePicker()" />
        <input id="Button1" style="height:30px;width:70px;margin-left:50px;" type="button" onclick="Daochu()" value="导出" />
    </div>
    <h1 style="background-color:yellow;text-align:center;margin-top:400px"><span id="rname">餐厅就餐明细</span> </h1>
    <div style=" padding-left: 100px;">

        <div style="float:left;margin-right:5px">
            <label>餐厅名称 </label>
        </div>
        <div style="width: 400px; height: 300px; border: solid 1px; float: left;">
            <div>
                <div style="float:left;width:2000px">
                    <input id="Check1" style="width: 20px;margin-bottom:10px" type="checkbox" value="7B050219-0919-452C-BB76-A762354A2BCA" /> 国宝餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check2" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="52897487-4396-4213-BAC4-EFF396AFBE2E" />河风雅叙餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check3" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="157EC53E-96F4-49ED-8ED1-54CC92FF5E63" />洛阳府餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check4" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="85DDAC71-7049-4AD3-A7F8-9560850C0D71" />青云赋餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check5" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="792E59E8-8A9C-4E19-9EBA-E8970DA20E7F" />上海明基餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check6" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="623C926E-58A0-41D1-92EC-3327CE26E8DB" />王城里餐厅
                </div>
                @*<div style="float:left;width:200px">
            <input id="Check7" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="B11C8996-4403-40BB-BCF2-156963C98635" />郑州员工食堂
        </div>*@
                <div style="float:left;width:200px">
                    <input id="Check7" style="width: 20px;margin-bottom:10px;" type="checkbox" value="A39A179D-A45D-47D9-87DA-30ABF55CA035" /> 郑州龙子湖餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check8" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="2535325A-CC8D-47B8-BFC1-7F0E1B924C30" />郑州广场项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check9" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="D16DB83C-1EDD-4AD1-855D-EB5CF2AC1DBD" />郑州澜湾项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="sCheck20" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="fa4fe35f-6c48-4397-add5-9a76be5bb93b" />合肥广州路餐厅
                </div>
            </div>
            <div>
                <div style="float:left;width:200px">
                    <input id="Check10" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="B638D5A1-D0A6-479C-A65C-619BEBB48524" />郑州华庭项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check11" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="661DD5AC-E694-4C95-8080-B9E80C7AEEEC" />郑州重工B项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check12" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="7CDC01A1-D9BB-4471-B439-CD12C67F9631" />郑州雁鸣叙项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check13" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="F2D457D7-30D0-4AB8-AFA1-5B897852933A" />郑州大学路项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check14" style="width: 20px;margin-bottom:10px" type="checkbox" value="111EF601-2622-4644-9D7B-640BF5D84509" /> 郑州杜庄项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check15" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="11D684DB-447F-4268-B4C8-29622DBE9031" />郑州九州路项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check16" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="1F8CC464-E4CA-4332-ACB2-DBB854994C28" />郑州荥阳项目餐厅
                </div>
                <div style="float:left;width:200px">
                    <input id="Check17" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="C3185502-8B33-4331-9076-2493ACA6B72B" />杭州三墩食堂
                </div>
                <div style="float:left;width:200px">
                    <input id="Check18" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="E621106E-2988-4FF3-8153-CB68EF000F0B" />杭州南湖食堂
                </div>
                <div style="float:left;width:200px">
                    <input id="Check19" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="DC96A30C-2773-47CD-8B68-8A0D001F7241" />郑州商业管理中心食堂
                </div>
                <div style="float:left;width:200px">
                    <input id="Check21" style="width: 20px; margin-bottom: 10px;" type="checkbox" value="0596ba1e-6350-4fa7-9047-ebf8deb7e728" />合肥少荃府餐厅
                </div>
            </div>
        </div>

        <div style="float:left">
            <label style="margin-left:50px;">开始日期</label>
            <input style="height:25px;width:150px;" class="Wdate" type="text" id="d18" name="Startdate" onfocus="WdatePicker()" />
        </div>
        <div style="float:left">
            <label style="margin-left:50px;">结束日期</label>
            <input style="height:25px;width:150px;" class="Wdate" type="text" id="d19" name="Enddate" onfocus="WdatePicker()" />
        </div>

        <input id="Button1" style="height:30px;width:70px;margin-left:50px;" type="button" onclick="DaochuCT()" value="导出" />
    </div>

</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function Daochu() {
        var time1 = $("#d16").val();
        var time2 = $("#d17").val();
        var username = $("#user").val();
        var ids = $('input[type=checkbox]');
        var data = '';
        ids.each(function () {
            //获取当前元素的勾选状态
            if ($(this).prop("checked")) {
                data = data + "'" + $(this).val() + "',";
            }
        });
        //去最后的点
        data = data.substring(0, data.length - 1);
        location.href = "/Manage/Excel?time1="+time1+"&user="+username+"&time2="+time2+"&st="+data+"";
    }
    function DaochuCT() {
        var ids = $('input[type=checkbox]');
        var data = '';
        ids.each(function () {
            //获取当前元素的勾选状态
            if ($(this).prop("checked")) {
                data = data+"'" + $(this).val() + "',";
            }
        });
        //去最后的点
        data = data.substring(0, data.length - 1);
        var start = $("#d18").val();
        var end = $("#d19").val();

        location.href = "/Manage/ExcelCT?data="+data+"&start="+start+"&end="+end+"";
    }


</script>
