.choosDate {
    background-color: white;
    height: 50px;
    width: 100%;
    border-bottom: 0.75px solid rgb(217,217,217);
    border-top: 0.75px solid rgb(217,217,217);
}

.dateSpan {
    float: left;
    padding-top: 1rem;
    padding-left: 1rem;
    color: rgb(64,64,64);
    font-size: 1.0rem;
    font-weight: bold;
}

.weekSpan {
    float: left;
    padding-top: 1.2rem;
    margin-left: 5px;
    color: rgb(64,64,64);
    font-size: 0.6rem;
}

.typeSpan {
    float: left;
    padding-top: 1rem;
    padding-left: 1rem;
    color: rgb(64,64,64);
    font-size: 1.0rem;
    font-weight: bold;
}

.spanDate {
    color: #999;
    font-size: 0.9rem;
    font-weight:normal;
    position: absolute;
    padding-left: 10px;
}
