<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    @*<link rel="stylesheet" href="../css/mui.min.css">*@
    <link href="~/Content/popupwindow/reveal.css" rel="stylesheet" />
    <!--App自定义的css-->
    <!--<link rel="stylesheet" type="text/css" href="../css/app.css" />-->
    <script src="http://www.jq22.com/jquery/jquery-1.6.2.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/Scripts/popupwindow/jquery.reveal.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body>



    <a href="#" class="big-link" data-reveal-id="myModal">

        jquery1

    </a>



    <a href="#" class="big-link" data-reveal-id="myModal" data-animation="fade">

        jquery2

    </a>



    <a href="#" class="big-link" data-reveal-id="myModal" data-animation="none">

        jquery3

    </a>



    <div id="myModal" class="reveal-modal">

        <h1>jquery导出层</h1>

        <p>This is a default modal in all its glory, but any of the styles here can easily be changed in the CSS.</p>

        <a class="close-reveal-modal">&#215;</a>

    </div>

    <!--<script src="http://www.jq22.com/js/jq.js"></script>-->

</body>

</html>